<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>

 <head>

  <title>Perl Family Search Demo</title>
  <link rel="stylesheet" href="/familysearch.css">

 </head>

 <body>

 <pre><TMPL_VAR NAME="content"></pre>

 </body>

</html>
