<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>

 <head>

  <title>Perl Family Search Demo Site</title>
  <link rel="stylesheet" href="/familysearch.css">

 </head>

 <body>

  <p>

  <h2>Perl Family Search Demo Site</h2>

  <p>

  <form method="get" action="<TMPL_VAR NAME="auth_url">">
   <input type="hidden" name="oauth_token" value="<TMPL_VAR NAME="token">">
   <input type="submit" value="Sign in using Family Search">
  </form>

 </body>

</html>
